---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, navVariant = "light" } = Astro.props;
---

<html lang="en">
  <head>

  <meta property="og:title" content="Asia Castano – Portfolio" />
<meta property="og:description" content="UX/UI designer, front-end developer and digital marketer. I design digital products combining design, code and strategy to create effective user experiences." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://asiacastano.com/" />
<meta property="og:site_name" content="Asia Castano Portfolio" />
<meta property="og:image" content="https://asiacastano.com/og-image.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="Asia Castano portfolio preview" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Asia Castano – Portfolio" />
<meta name="twitter:description" content="UX/UI designer, front-end developer and digital marketer. I design digital products combining design, code and strategy to create effective user experiences." />
<meta name="twitter:image" content="https://asiacastano.com/og-image.png" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=Kalam:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

  
  </head>

  <body class="bg-[#FAFAFA] text-[#1f1f1f] antialiased">
    <Navbar variant={navVariant} />
    <main>
      <slot />
    </main>

<Analytics/>
<SpeedInsights/>
  </body>
</html>