---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import { Analytics } from "@vercel/analytics/astro";

const { title, navVariant = "light" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600&family=Kalam:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-[#FAFAFA] text-[#1f1f1f] antialiased">
    <Navbar variant={navVariant} />
    <main>
      <slot />
    </main>
<Analytics />
  </body>
</html>